:root {
  --hurricane: "Bangers", cursive;
  --roboto: "Roboto", sans-serif;
  --oswald: "Oswald", sans-serif;
  --bebas: "Bebas Neue", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root > div {
  min-height: 100vh;
}

@keyframes start {
  0% {
    background-color: red;
    left: 0px;
  }
  100% {
    background-color: yellow;
    left: 90%;
  }
}

@keyframes end {
  0% {
    background-color: yellow;
    left: 90%;
  }
  100% {
    background-color: red;
    left: 0px;
  }
}

.start-animation {
  animation-name: start;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.end-animation {
  animation-name: end;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
